<div class="hotelNameDescription">
    <b>{{hotel.name}}</b>
</div>
<div class="hotelStarDescription">
    <i class="fas fa-star hotelStar" *ngFor="let i of stars"></i>
</div>
<div class="hotelAmenitiesDescription">
    <img *ngFor="let a of hotel.amenities" class="amenityIcon"
        src="http://localhost:3000/public/assets/icons/amenities/{{a}}.svg" />
</div>