.amenityIcon {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.hotelStar {
    color: rgb(255, 188, 0);
    margin-right: 5px;
}

.hotelNameDescription {
    color: rgb(0, 119, 182);
}

.hotelStarDescription {
    margin-top: 10px;
}

.hotelAmenitiesDescription {
    margin-top: 15px;
}