.hotelCard {
    margin-bottom: 10px;
}

.hotelImage {
    width: 30%;
    height: 230px;
    object-fit: contain;
}

.hotelData {
    flex-grow: 1;
    margin-left: 15px;
}

.hotelPrice {
    width: 25%;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
}