<mat-card class="cardComponent hotelCard" *ngFor="let hotel of hotelsList">
    <div class="rowLayout">
        <img class="hotelImage" src="http://localhost:3000/public/assets/images/hotels/{{hotel.image}}" />
        <app-hotel-description class="columnLayout hotelData" [hotel]="hotel"></app-hotel-description>
        <mat-divider [vertical]="true"></mat-divider>
        <app-hotel-price class="columnLayout hotelPrice" [hotel]="hotel"></app-hotel-price>
    </div>
</mat-card>