.nameFilterButton {
    width: 100%;
    height: 50px;
    background-color: rgb(11, 26, 123);
    color: white;
    font-size: large;
}

.cardToggleButton {
    color: #148eff;
    cursor: pointer;
    padding: 5px;
    margin-left: auto;
}

.cardTitle {
    margin-left: 10px;
}

.cardTitleBar {
    justify-content: center;
    margin-bottom: 15px;
}

.hotelNameInput {
    width: 100%;
    margin-right: 15px;
}