<mat-card class="cardComponent columnLayout">
    <div class="rowLayout cardTitleBar">
        <i class="fas fa-search filterIcon" style="color: #148eff;"></i>
        <span class="cardTitle">Nombre del hotel</span>
        <i class="fas fa-caret-down cardToggleButton" *ngIf="!showing" (click)="showing=!showing"></i>
        <i class="fas fa-caret-up cardToggleButton" *ngIf="showing" (click)="showing=!showing"></i>
    </div>
    <div class="rowLayout" *ngIf="showing">
        <mat-form-field class="hotelNameInput">
            <input matInput [value]="hotelName" (input)="hotelName = $event.target.value" placeholder="Ingrese el nombre del hotel">
        </mat-form-field>
        <button class="nameFilterButton" mat-raised-button (click)="searchHotelByName()">Aceptar</button>
    </div>
</mat-card>