<mat-card class="cardComponent columnLayout">
    <div class="rowLayout cardTitleBar">
        <i class="fas fa-star filterIcon" style="color: #148eff;"></i>
        <span class="cardTitle">Estrellas</span>
        <i class="fas fa-caret-down cardToggleButton" *ngIf="!showing" (click)="showing=!showing"></i>
        <i class="fas fa-caret-up cardToggleButton" *ngIf="showing" (click)="showing=!showing"></i>
    </div>
    <div class="columnLayout" *ngIf="showing">
        <mat-checkbox class="checkbox" [(ngModel)]="allChecked" (change)="checkAll()" [disabled]="allChecked">
            Todas las estrellas
        </mat-checkbox>
        <mat-checkbox class="checkbox" [(ngModel)]="checkedBoxes[4]" (change)="checkboxCheck()">
            <i class="fas fa-star star" *ngFor="let i of [1,2,3,4,5]"></i>
        </mat-checkbox>
        <mat-checkbox class="checkbox" [(ngModel)]="checkedBoxes[3]" (change)="checkboxCheck()">
            <i class="fas fa-star star" *ngFor="let i of [1,2,3,4]"></i>
        </mat-checkbox>
        <mat-checkbox class="checkbox" [(ngModel)]="checkedBoxes[2]" (change)="checkboxCheck()">
            <i class="fas fa-star star" *ngFor="let i of [1,2,3]"></i>
        </mat-checkbox>
        <mat-checkbox class="checkbox" [(ngModel)]="checkedBoxes[1]" (change)="checkboxCheck()">
            <i class="fas fa-star star" *ngFor="let i of [1,2]"></i>
        </mat-checkbox>
        <mat-checkbox class="checkbox" [(ngModel)]="checkedBoxes[0]" (change)="checkboxCheck()">
            <i class="fas fa-star star" *ngFor="let i of [1]"></i>
        </mat-checkbox>
    </div>
</mat-card>