.cardToggleButton {
    color: #148eff;
    cursor: pointer;
    padding: 5px;
    margin-left: auto;
}

.cardTitle {
    margin-left: 10px;
}

.cardTitleBar {
    justify-content: center;
    margin-bottom: 15px;
}

.star {
    color: rgb(255, 188, 0);
    margin-left: 5px;
}

.checkbox {
    margin-bottom: 5px;
}