<div class="mainContainer columnLayout">
    <mat-toolbar class="toolbar">
        <img src="../assets/images/logo-almundo.svg">
    </mat-toolbar>
    <div class="rowLayout contentContainer">
        <app-filter class="columnLayout filterApp"></app-filter>
        <app-hotels-list class="columnLayout hotelsListApp"></app-hotels-list>
    </div>
</div>