.toolbar {
    background-color: rgb(0, 50, 120);
    padding: 25px;
    height: 80px;
}

.mainContainer {
    width: 100%;
    height: 100%;
    background-color: rgb(244, 244, 244);
}

.contentContainer {
    margin: 15px;
    height: calc(100% - 110px);
}

.filterApp {
    flex-grow: 1;
}

.hotelsListApp {
    flex-grow: 4;
    overflow: overlay;
}