<span class="priceDescription">Precio por noche por habitación</span>
<div class="rowLayout priceTextWrapper">
    <span class="priceCurrency">AR$</span>
    <span class="priceAmount">{{hotel.price}}</span>
</div>
<button class="priceButton" mat-raised-button>Ver hotel</button>