.priceDescription {
    font-size: small;
    margin-bottom: 15px;
    color: grey;
    width: 50%;
    text-align: center;
}

.priceTextWrapper {
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.priceCurrency {
    font-size: x-large;
    color: rgb(229, 86, 0);
    margin-right: 5px;
}

.priceAmount {
    font-size: xx-large;
    color: rgb(229, 86, 0);
}

.priceButton {
    height: 40px;
    width: 70%;
    background-color: rgb(11, 26, 123);
    color: white;
    font-size: large;
}