/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.rowLayout {
    display: flex;
    flex-flow: row nowrap;
}

.columnLayout {
    display: flex;
    flex-flow: column nowrap;
}

.cardComponent {
    background-color: white;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(173, 173, 173, 1);
    -moz-box-shadow: 0px 3px 10px 0px rgba(173, 173, 173, 1);
    box-shadow: 0px 3px 10px 0px rgba(173, 173, 173, 1);
    margin: 5px;
}